# API Web
fastapi
uvicorn

# HTTP requests
requests

# Integração com Hugging Face e modelos de IA
huggingface_hub
transformers
diffusers
torch

# Manipulação de imagens e dados
numpy
Pillow
opencv-python
scipy
einops

# Upload de arquivos (para APIs que recebem imagens)
python-multipart
aiofiles

